---
---


<!DOCTYPE html>
<html class="border-l" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .instagram-logo-orig {
            background-position: 0 -130px;
            height: 51px;
            width: 175px;
            background-image: url(https://bit.ly/3v2LT17);
        }
		.instagram-logo-mine {
            background-position: 0 -130px;
            height: 17px;
            width: 58px;
			background-image: url(https://www.vectorlogo.zone/logos/instagram/instagram-wordmark.svg);
        }
        .facebook-logo {
            background-position: -414px -259px;
            background-image: url(https://bit.ly/3v2LT17);
            height: 16px;
            width: 16px;
        }
        .apple-store-logo {
            background-position: -132px -182px;
            height: 42px;
            width: 128px;
            background-image: url(https://bit.ly/3v2LT17);
        }
        .google-store-logo {
            background-position: 0 -182px;
            height: 42px;
            width: 130px;
            background-image: url(https://bit.ly/3v2LT17);
        }
    </style>
</head>
<body>
<div class="w-full min-h-screen bg-[#fafafa] lg:bg-gray-50 h-fit flex flex-row items-center justify-center">
    <div class="h-screen w-2/3 lg:w-[350px] bg-[#fafafa] lg:bg-gray-50 flex flex-col justify-center items-center">
        <div class="bg-white border border-gray-300 w-4/5 lg:w-80 py-8 flex items-center flex-col mb-[10px]">
            <!-- instagram logo -->
            <img class="w-[175px] h-51 lg:w-130 lg:h-16" src="https://www.vectorlogo.zone/logos/instagram/instagram-wordmark.svg"/>
            <!-- input form -->
            <form class="mt-8 w-[175px] lg:w-64 flex flex-col">
                <input autofocus
                    class="ls:text-xs w-[175px] lg:w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                    id="email" placeholder="Phone number, username, or email" type="text">
                <input autofocus
                    class="text-xs w-full mb-4 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                    id="password" placeholder="Password" type="password">
                <!-- login button -->
                <a class="text-sm text-center bg-blue-300 text-white py-1 rounded font-medium">
                    Log In
                </a>
            </form>
                <!-- "or" line -->
            <!-- <div class="flex justify-evenly space-x-2 w-64 mt-4">
                <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
                <span class="flex-none uppercase text-xs text-gray-400 font-semibold">or</span>
                <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
            </div> -->
                <!-- login with facebook button -->
            <!-- <button class="mt-4 flex">
                <div class="bg-no-repeat facebook-logo mr-1"></div>
                <span class="text-xs text-blue-900 font-semibold">Log in with Facebook</span>
            </button> -->
                <!-- forgot password button -->
            <a class="text-xs text-blue-900 mt-4 cursor-pointer -mb-4" href="https://www.instagram.com/accounts/password/reset/">Forgot password?</a>
        </div>
        <!-- signup div -->
        <div class="bg-white border border-gray-300 text-center lg:w-80 py-4">
            <span class="text-sm">Don't have an account?</span>
            <a class="text-blue-500 text-sm font-semibold" href="https://www.instagram.com/accounts/emailsignup/	">Sign up</a>
        </div>
        <!-- get the app div -->
        <div class="mt-3 w-full text-center">
            <span class="text-[14px]">Get the app.</span>
            <!-- button div -->
            <div class="flex flex-row items-center justify-center mt-[20px] gap-[8px]">
                <!-- Download on the App Store -->
                <!-- <a class="w-1/2" href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.loginPage.badge&mt=8&vt=lo">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Download_on_the_App_Store_Badge.svg"/>
                </a> -->
                <!-- Get on the google play -->
                <!-- <a>
                    <img src="">
                    <a title="Google Play, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Google_Play_Store_badge_EN.svg"><img class="h-auto w-1/2" alt="Google Play Store badge EN" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/512px-Google_Play_Store_badge_EN.svg.png"></a>
                </a> -->
                <a class="w-fit" href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.loginPage.badge&mt=8&vt=lo">
                    <img class="float-right w-[136px] h-[40px]" alt='Scarica su Apple Store' src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Download_on_the_App_Store_Badge_IT_RGB_blk.svg/2560px-Download_on_the_App_Store_Badge_IT_RGB_blk.svg.png">
                </a>
                <a class="w-fit" href='https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D2ACBCDE3-6B4A-4627-80CC-5A32DDBA5D90%26utm_content%3Dlo%26utm_medium%3Dbadge&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img class="float-left w-[134px] h-[40px]" alt='Disponibile su Google Play' src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Google_Play_Store_badge_IT.svg/768px-Google_Play_Store_badge_IT.svg.png'/>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>